# =========================
# Data
# =========================

data/raw/
data/processed/


# =========================
# Python
# =========================

__pycache__/
*.py[cod]
.venv/
venv/
env/


# =========================
# Environment / secrets
# =========================

.env
.env.*


# =========================
# Models / checkpoints
# =========================

models/
*.pt
*.pth
*.ckpt
*.bin


# =========================
# Jupyter
# =========================

.ipynb_checkpoints/


# =========================
# OS
# =========================

.DS_Store
Thumbs.db